<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <MailHost>mail.boryi.com</MailHost>
    <MailUser>yilong.xie@boryi.com</MailUser>
    <MailPassword>********</MailPassword>
    <DbConnStr>jdbc:mysql://localhost/boryi_01_campaign?user=cmpgn_master&amp;password=p@ssw0rd</DbConnStr>
    <IntervalSeconds>60</IntervalSeconds>
    <MaxKey>3</MaxKey>
    <StartId>1</StartId>
    <EndId>1000</EndId>
    
    <Type active="true" id="1" name="Friend" emailSubject="Welcome, Dear Friend" 
            emailBodyWithImg="emailbodyFriendWithImg.htm" 
            emailBodyWithoutImg="emailbodyFriendWithImg.htm" />

    <Type active="true" id="2" name="Subscriber" emailSubject="Welcome, Dear Subscriber" 
            emailBodyWithImg="emailbodySubscriberWithImg.htm" 
            emailBodyWithoutImg="emailbodySubscriberWithoutImg.htm" />
</settings>