<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <mailHost>mail.boryi.com</mailHost>
    <mailUser>yilong.xie@boryi.com</mailUser>
    <mailPassword>********</mailPassword>
    <dbConnStr>jdbc:mysql://localhost/boryi_01_campaign?user=cmpgn_master&amp;password=********</dbConnStr>
    <Emails>
        <IntervalSeconds>60</IntervalSeconds>
        <MaxKey>3</MaxKey>
        <StartId>1</StartId>
        <EndId>1000</EndId>    
        <CompaignType>new</CompaignType>
        <!-- new; unopened; disable -->
        <Types>
            <Type>
                <Type>Friend</Type>
                <Active>true</Active>
                <emailSubject>Welcome, Dear Friend</emailSubject>
                <emailBodyWithImg>emailbodyFriendWithImg.htm</emailBodyWithImg>
                <emailBodyWithoutImg>emailbodyFriendWithoutImg.htm</emailBodyWithoutImg>
            </Type>
            <Type>
                <Type>Subscriber</Type>
                <Active>true</Active>
                <emailSubject>Welcome, Dear Subscriber</emailSubject>
                <emailBodyWithImg>emailbodySubscriberWithImg.htm</emailBodyWithImg>
                <emailBodyWithoutImg>emailbodySubscriberWithoutImg.htm</emailBodyWithoutImg>
            </Type>
            <Type>
                <Type>Default</Type>
                <Active>true</Active>
                <emailSubject>Welcome, Dear User</emailSubject>
                <emailBodyWithImg>emailbodyWithImg.htm</emailBodyWithImg>
                <emailBodyWithoutImg>emailbodyWithoutImg.htm</emailBodyWithoutImg>
            </Type>
        </Types>
    </Emails>
</settings>